- var links = {'/': 'Welcome', '/menu': 'Menu', '/open': 'Open', '/view': 'View', '/book': 'Book', '/functions': 'Functions', '/about': 'About'}

#nav.well
  each val, index in links
    a(href= index) #{val}