.float-text-main
  p.Mtwrfss Monday: Closed (available for private functions)
  p.holiday Bank Holidays: Open 9am to 5pm
  p.mTWRFss Tuesday to Friday: 9am to 5pm
  p.mtwrfSS   Saturday and Sunday: 8am to 5pm (last orders 4pm)

.float-text-main
  u Please note:
  ul
    li We may close earlier than stated depending on the weather
    li Please call ahead to avoid any disappointment!
    li Evenings and private functions available by arrangement

#phone.float-text-main Phone: 01903 212 01