extends _layout

block content
  #section-functions.jumbotron
    include _nav
    h1 #{title}

    .row
      #col-lg-10.col-md-8.col-sm-6.col-xs-3
        p.float-text-main The upstairs function room has a balcony giving delightful views of the park and bowling greens, a perfect venue for parties, meetings and events.
        p.float-text-main The outside space in the park can be used for larger scale events of up to 1000 people, ideal for weddings, dining, exhibitions, corporate launches, markets and roadshows.

      #col-lg-10.col-md-8.col-sm-6.col-xs-3
        p.float-text-main Functions information

      #col-lg-10.col-md-8.col-sm-6.col-xs-3
        p.float-text-main Please call us on 01903 212 011 for a quote


