doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    block content
      //- block welcome
      //- block menu
      //- block views
      //- block about
      //- block functions
      //- block contact
      //- block footer

