extends _layout

block content
  - var menuImages = ["img/Menu/2018/11/breakfast.png", "img/Menu/2018/11/brunch.png", "img/Menu/2018/11/lunch.png", "img/Menu/2018/04/veganVeggie.png", "img/Menu/2018/04/drinks.png", "img/Menu/2018/11/sundayLunch.png", "img/Menu/2017/05/Kids.png" ]
  include _nav

  h1 #{title}

  p.well Click to view menus 

  #menus
    each val, index in menus
      h5(id= val+index data-toggle="collapse" href= '#'+val)
        a(class= '#'+val) #{val}
      .menu.collapse(id= val)
        img(src= menuImages[index] width="400")
