extends _layout

block content
  #section-menu.jumbotron
    include _nav
    h1 #{title}

    .row
      .col-lg-10.col-md-8.col-sm-6.col-xs-3
        #menus
          each val, index in menus
            h5(id= val.name+index data-toggle="collapse" href= '#'+val.name)
              a(href= val.pdf)
                i.glyphicon.glyphicon-download
              a(class='#'+val.name) #{val.displayName}
            .menu.collapse(id= val.name)
                img(src= val.image width="600")

block footer
  include _footer