extends structure

block main
  #menus
    ul.list-group
    each val, index in menus
      li.list-group-item(id= val.name+index data-toggle="collapse" href= '#'+val.name)
        a(class='#'+val.name title="view menu") #{val.displayName} &nbsp; 
          i.fa.fa-chevron-down &nbsp;
        a(href= val.pdf target="_blank" title="download PDF menu") &nbsp;
          i.fa.fa-cloud-download &nbsp;
      .menu.collapse(id= val.name)
          img(src= val.image width="480")

block images

block footer
  include _footer