a.className#idName(href="/") Welcome |&nbsp;
a.className#idName(href="/menu") Menu |&nbsp;
a.className#idName(href="/view") View |&nbsp;
a.className#idName(href="/book") Book |&nbsp;
a.className#idName(href="/functions") Functions |&nbsp;
a.className#idName(href="/about") About