a.className#idName(href="/") Home |&nbsp;
a.className#idName(href="/example") Example |&nbsp;
a.className#idName(href="/#menu") Menu |&nbsp;
a.className#idName(href="/#views") Views |&nbsp;
a.className#idName(href="/#functions") Functions