extends _layout

block content
  #section-open.jumbotron
    include _nav
    h1 #{title}

    .row.bottom-row
      .col-lg-4.col-md-4.col-sm-4.col-xs-3
        h4.opening-times.float-text Opening times

          p#days-of-the-week.opening-times.float-text
            .m Monday: Closed (available for private functions)
            .bank-holidays Bank Holidays: Open 9am to 5pm
            .twrf Tuesday to Friday: 9am to 5pm
            .ss   Saturday and Sunday: 8am to 5pm (last orders 4pm)

          p.opening-times.float-text
            u Please note:
            ul
              li We may close earlier than stated depending on the weather
              li Please call ahead to avoid any disappointment!
              li Evenings and private functions available by arrangement

            #phone Phone: 01903 212 011

