extends _layout

block content
  include _nav
  h1 #{title} 

  #section-views.section.photo
    .container
      .row.top-row
        .col-lg-10.col-md-8.col-sm-6.col-xs-3
          .row
            .col-lg-10.col-md-8.col-sm-6.col-xs-3
              .fotorama(data-nav="thumbs")
                img(src="img/Home/aMainFront-1.jpg" width="400px")
                img(src="img/Home/aInteriorSpace-1.jpg" width="400px")
                img(src="img/Home/aBreakfastBuffetRoom.jpg" width="400px")
                img(src="img/Home/aBreakfastBuffetContinental.jpg" width="400px")
                img(src="img/Home/aBreakfastBuffetBakery.jpg" width="400px")
                img(src="img/Home/aMainFront-2.jpg" width="400px")
                img(src="img/Home/aInteriorSpace-2.jpg" width="400px")
