
<!DOCTYPE html>
<html>
    <head>
        <title>Palm Court Pavilion</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/media/css/font-awesome.css">
        <link rel="stylesheet" href="/media/css/main.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" media="all"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://palmcourtpavilion.local/media/js/vendor/jquery/jquery-2.1.1.min.js"></script>
        <script src="http://palmcourtpavilion.local/media/js/vendor/twitter/bootstrap/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

        <!-- 1. Link to jQuery (1.8 or later), -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

        <!-- fotorama.css & fotorama.js. -->
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

        <script>
            $(function() {
                $('a[href*=#]:not([href=#carousel-menu])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 800);
                            return false;
                        }
                    }
                });
            });
        </script>
    </head>
    <body data-spy="scroll" data-target="#pcp-navbar" data-offset="90">
        <div id="content">

            <nav id="pcp-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse " role="navigation">
                        <ul class="nav navbar-nav navbar-collapse collapse">
                            <li>
                                <a href="/" class="navbar-brand header-link">
                                    Palm Court Pavilion
                                                            </a>
                                <div class="fb-like" data-href="http://www.palmcourtpavilion.co.uk"
                                    data-width="40" data-layout="button_count"
                                    data-action="like" data-size="small"
                                    data-show-faces="true" data-share="false">
                                </div>
                            </li>
                            <li><a href="/#section-welcome">Welcome</a></li>
                            <li><a href="/#section-menu">Menu</a></li>
                            <li><a href="/#section-views">Views</a></li>
                            <li><a href="/#section-functions">Functions</a></li>
                            <li><a href="/#section-about">About us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <section id="section-welcome" class="section photo">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                           <h1 class="title">Palm Court Pavilion </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                            <p class="float-text-main">
                                Palm Court Pavilion is a stylish Café-Bistro in the beautifully renovated bowling-green pavilion in Worthing's delightful Beach House Park.
                            </p>
                            <p class="float-text-main">
                            We serve delicious homemade food in a tranquil setting a few minutes walk from the town centre and the seafront.
                            </p>
                            <p class="float-text-main">
                            We also offer excellent facilities for functions and events.
                            </p>
                        </div>
                    </div>
                    <div class="row video">
                        <div class="col-lg-10 col-md-6 col-sm-4 col-xs-2">
                            <p>
                                <iframe width="840" height="473" src="https://www.youtube.com/embed/vld2w9H0sU4" frameborder="0" allowfullscreen></iframe>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                            <h4 class="opening-times float-text">Opening times</h4>
                            <p class="opening-times float-text">
                            Monday: Closed (available for private functions)<br/>
                            Bank Holidays: Open 9am to 5pm<br/>
                            Tuesday to Friday: 9am to 5pm<br/>
                            Saturday and Sunday: 8am to 5pm (last orders 4pm)
                            </p>
                            <p class="opening-times float-text">
                            <u>Please note</u><br/> 
                                We may close earlier than stated depending on the weather<br/>
                            Please call ahead to avoid any disappointment!<br/>
                            Evenings and private functions available by arrangement.<br/>
                            Phone: 01903 212 011
                            </p>

                        </div>
                    </div>
                </div>
            </section>

            <section id="section-menu" class="section photo">
                <div class="container">
                    <div class="row top-row">
                        <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                            <h1 class="title">Menu</h1>
                        </div>
                    </div>
                    <div class="row middle-row">
                        <div class="col-md-8 col-md-offset-0">
                            <div id="carousel-menu" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-menu" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-menu" data-slide-to="1"></li>
                                    <li data-target="#carousel-menu" data-slide-to="2"></li>
                                    <li data-target="#carousel-menu" data-slide-to="3"></li>
                                    <li data-target="#carousel-menu" data-slide-to="4"></li>
                                    <li data-target="#carousel-menu" data-slide-to="5"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/media/images/Menu/png/2018/11/Christmas.png" />
                                    </div>
                                    <div class="item">
                                        <img src="/media/images/Menu/png/2018/11/breakfast.png" />
                                    </div>
                                    <div class="item">
                                        <img src="/media/images/Menu/png/2018/11/brunch.png" />
                                    </div>
                                    <div class="item">
                                        <img src="/media/images/Menu/png/2018/11/lunch.png" />
                                    </div>
                                    <div class="item">
                                        <img src="/media/images/Menu/png/2018/04/veganVeggie.png" />
                                    </div>
                                    <div class="item">
                                        <img src="/media/images/Menu/png/2018/04/drinks.png" />
                                    </div>
                                    <div class="item">
                                        <img src="/media/images/Menu/png/2018/11/sundayLunch.png" />
                                    </div>
                                    <div class="item">
                                        <img src="/media/images/Menu/png/2017/05/Kids.png" />
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-menu" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-menu" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div> <!-- Carousel -->
                        </div>
                        <div class="col-md-4">
                            <p class="download-box">
                                 <a href="/media/images/Menu/pdf/2018/11/Christmas.pdf" target="_blank" title="Download the Main Menu">
                                     <i class="fa fa-download"></i>
                                     Christmas 2018 Menu and Booking Form
                                 </a><br/>
                                    <i class="fa fa-download"></i>
                                    Breakfast
                                </a><br/>
                                <a href="/media/images/Menu/pdf/2018/11/brunch.pdf" target="_blank" title="Download the Brunch Menu">
                                    <i class="fa fa-download"></i>
                                    Brunch
                                </a><br/>
                                <a href="/media/images/Menu/pdf/2018/11/lunch.pdf" target="_blank" title="Download the Brunch Menu">
                                    <i class="fa fa-download"></i>
                                    Lunch
                                </a><br/>
                                <a href="/media/images/Menu/pdf/2018/04/veganVeggie.pdf" target="_blank" title="Download the Vegetarian/Vegan Menu">
                                    <i class="fa fa-download"></i>
                                    Vegetarian/Vegan
                                </a><br/>
                                <a href="/media/images/Menu/pdf/2018/04/drinks.pdf" target="_blank" title="Download the Drinks Menu">
                                    <i class="fa fa-download"></i>
                                    Drinks/Wine
                                </a><br/>
                                <a href="/media/images/Menu/pdf/2018/11/SundayLunch.pdf" target="_blank" title="Download the Sunday Lunch menu">
                                    <i class="fa fa-download"></i>
                                    Sunday lunch
                                </a><br/>
                                <a href="/media/images/Menu/pdf/2017/05/Kids.pdf" target="_blank" title="Download the kids menu">
                                    <i class="fa fa-download"></i>
                                    Kids
                                </a><br/>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-views" class="section photo">
                <div class="container">
                    <div class="row top-row">
                        <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                            <h1 class="title">Views</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                            <div class="fotorama" data-nav="thumbs">
                                <img src="/media/images/Home/aMainFront-1.jpg" width="400px">
                                <img src="/media/images/Home/aInteriorSpace-1.jpg" width="400px">
                                <img src="/media/images/Home/aBreakfastBuffetRoom.jpg" width="400px">
                                <img src="/media/images/Home/aBreakfastBuffetContinental.jpg" width="400px">
                                <img src="/media/images/Home/aBreakfastBuffetBakery.jpg" width="400px">
                                <img src="/media/images/Home/aMainFront-2.jpg" width="400px">
                                <img src="/media/images/Home/aInteriorSpace-2.jpg" width="400px">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-functions" class="section photo">
                <div class="container">
                    <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                        <h1 class="title">Functions</h1>
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                        <p class="float-text">
                            The upstairs function room has a balcony giving delightful views of the park and bowling greens, a perfect venue for parties, meetings and events.
                        </p>
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                        <p class="float-text">
                            The outside space in the park can be used for larger scale events of up to 1000 people, ideal for weddings, dining, exhibitions, corporate launches, markets and roadshows.<br>
                        </p>
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                        <p class="download-box">
                            <a href="/media/images/Documents/2018/06/Functions.pdf" target="_blank" title="Download Functions info">Functions information <i class="fa fa-download"></i></a><br>
                            <h1>Please call us on 01903 212 011 for a quote</h1>
                        </p>
                    </div>
                </div>
            </section>

            <section id="section-about" class="section photo">
                <div class="container">
                    <div class="row top-row">
                        <div class="col-lg-10 col-md-8 col-sm-6 col-xs-3">
                            <h1 class="title">About us</h1>
                        </div>
                    </div>
                    <div class="row middle-row">
                        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-3">
                            <p class="address float-text">
Palm Court Pavilion<br/>
Beach House Park<br/>
Lyndhurst Road<br/>
Worthing<br/>
BN11 2DB<br/>
email: <a href="mailto:palmcourtpavilion@gmail.com" class="address-email" target="_blank">palmcourtpavilion@gmail.com</a><br/>
phone: 01903 212 011
</p>
                        </div>
                                                <div class="col-lg-7 col-md-8 col-sm-8 col-xs-4">
                             <p class="float-text">
Nestled in Worthing’s stunning Beach House Park, Palm Court Pavilion is a stylish, beautifully renovated café-bistro in the park’s Old Pavilion. Located just minutes from the town centre and the seafront, we serve delicious homemade food and offer a range of options for functions and events.
</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                             <p class="float-text">
The caf&eacute; marks an exciting new chapter in the Pavilion’s history. After some years in disuse, the old Pavilion building has been given a brand new lease of life with a sympathetic renovation emphasising natural light inside, while taking advantage of the lovely open-air spaces of the surrounding park outside.
</p>
<p class="float-text">
Large open-air decking areas have been created so that you can enjoy the beautiful, peaceful setting.
</p>
<p class="float-text">
The outside spaces are also available for hire for private parties and functions.
</p>
                        </div>
                    </div>
                    <div class="row bottom-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                            <h4 class="opening-times float-text">Opening times</h4>
<p class="opening-times float-text">
  Monday: Closed (available for private functions)<br/>
  Bank Holidays: Open 9am to 5pm<br/>
  Tuesday to Friday: 9am to 5pm<br/>
  Saturday and Sunday: 8am to 5pm (last orders 4pm)
</p>
<p class="opening-times float-text">
  <u>Please note</u><br/> 
    We may close earlier than stated depending on the weather<br/>
  Please call ahead to avoid any disappointment!<br/>
  Evenings and private functions available by arrangement.<br/>
  Phone: 01903 212 011
</p>
                        </div>
                    </div>
                    <div class="row bottom-row">
                        <div class="col-lg-10 col-md-12 col-sm-6 col-xs-4">
                            <div class="google-map-container">
                                <h1>How to find us</h1>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.9094489491195!2d-0.36574868437995894!3d50.81431636896051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDQ4JzUxLjUiTiAwwrAyMSc0OC44Ilc!5e0!3m2!1sen!2suk!4v1451944856246" width="100%" height="400px" frameborder="2" style="border:2px; padding:4px;" ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/vendor/twitter/bootstrap/js/bootstrap.min.js"></script>
