extends _layout

block content
  #section-welcome.jumbotron
    include _nav
    h1 #{title}

    .container
      .row
        .col-8.col-sm-8
          p.float-text-main Palm Court Pavilion is a stylish Café-Bistro in the beautifully renovated bowling-green pavilion in Worthing's delightful Beach House Park.
          p.float-text-main We serve delicious homemade food in a tranquil setting a few minutes walk from the town centre and the seafront.
          p.float-text-main We also offer excellent facilities for functions and events.
        .col-4.col-sm-4
          include _open.pug

block footer
  include _footer